<server description="Open Liberty Health Check example">

  <featureManager>
    <feature>jaxrs-2.1</feature>
    <feature>jpa-2.2</feature>
    <feature>cdi-2.0</feature>
    <feature>localConnector-1.0</feature>
    <feature>jsonp-1.1</feature>
  </featureManager>

  <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint" host="*" />

  <webApplication name="RestCrud" location="rest-http-crud.war" contextRoot="${app.context.root}" />

</server>

